body {
    background-color: #000000;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.prompt {
    display: inline-block;
    white-space: pre-wrap;
    animation: blink 1s step-end infinite;
}
input {
    background: none;
    border: none;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    outline: none;
    padding: 0;
    margin: 0;
    caret-color: #00ff00;
    vertical-align: bottom;
}
input:focus {
    outline: none;
    box-shadow: none;
}
img {
    max-width: 100vw;
}
iframe {
    width: 75vw;
    height: 75vh;
}
